body {
    background-color: #F1EDEC;
}

body::before {
    content: "";
    height: 110px!important;
    width: 0px!important;
    display: block!important;
}

.header {
    width: 100%;
    min-height: 500px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    background-size: cover;
    background-image: url(ui/header.jpg);
    background-position: bottom;
}

.title {
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 300%;
    font-weight: 900;
    text-transform: uppercase;
}

.subtitle {
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 150%;
    font-weight: 900;
    text-transform: uppercase;
}

.subsub {
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 110%;
    font-weight: 900;
    text-transform: uppercase;
}

.hidden {
    width: 0px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

/* ----------- */

.mcNav {
    min-height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.mcNav .links {
    background-image: url(ui/navbar.png);
    background-color: #000000;
    height: 100px;
    width: 100%;
    z-index: 99;
}

.sublinks {
    margin: 0px;
}

.sublinks li {
    display: inline-block;
    color: white;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.sublinks li:hover {
    color: #64FC20;
}

.mcNav .userInfo {
    min-height: 25px;
    background-image: url(ui/background.png);
    background-color: #000000;
    width: 100%;
    transition: 200ms;
}

.mcNav .userInfo .container {
    position: relative!important;
    height: 100%;
}

.mcNav .userInfo .container::after {
    content: ".";
    opacity: 0;
}

.userInfo[open] {
    min-height: 400px!important;
    height: 400px!important;
}

.userInfo .topContent {
    padding-top: 0px;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    overflow: hidden;
    transition: 50ms;
    transform: translateY(-20px);
    color: white;
}

.userInfo[open] .topContent {
    padding-top: 20px;
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
    height: calc(100% - 25px);
}

.userInfo .topContent .close {
    position: absolute;
    top: 20px;
    right: 0px;
    background-image: url(ui/nav/menu.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 30px;
    min-height: 30px;
    width: 30px!important;
    height: 30px!important;
    display: block;
}

.userInfo[open] .topContent .close {
    background-image: url(ui/nav/close.gif);
}

.userInfo[open] .topContent .close:active {
    transform: scale(0.9);
}

.userInfo .selectedAccount {
    position: absolute;
    padding: 2px;
    right: 10px;
    color: white;
    margin: 0px;
    z-index: 100;
}

.userInfo .selectedAccount::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 11px;
    filter: grayscale(1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('ui/arrow.png');
}

.packagelist {
    list-style-image: url('ui/arrow.png');
}

.packagelist li {
    margin: 20px 0;
    margin-left: 20px;
    font-size: 150%;
}

.userInfo .selectedAccount:hover:before {
    filter: grayscale(0);
}

.userInfo .selectedAccount:hover {
    color: #64FC20;
}

.mcNav .links ul {
    padding: 0px;
    margin: 0px;
}

.mcNav .links .desc {
    font-family: 'Noto Sans', sans-serif;
    color: white;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
    text-transform: uppercase;
    margin: 0px!important;
}

.mcNav .links li {
    height: 64px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
    transition: 100ms;
}

.mcNav .links li[selected] {
    font-weight: 600;
}

.mcNav .links li:active {
    transform: translateY(-5px)
}

.mcNav .links .players {
    background-image: url(ui/nav/players.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 60px;
    min-height: 60px;
    width: 60px!important;
    height: 60px!important;
    display: inline-block;
}

.mcNav .links .players:hover {
    background-image: url(ui/nav/players.gif);
}

.mcNav .links .store {
    background-image: url(ui/nav/store.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 60px;
    min-height: 60px;
    width: 60px!important;
    height: 60px!important;
    display: inline-block;
}

.mcNav .links .store:hover {
    background-image: url(ui/nav/store.gif);
}

.mcNav .links .menu {
    background-image: url(ui/nav/menu.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 26px;
    min-width: 40px;
    min-height: 40px;
    width: 40px!important;
    height: 40px!important;
    display: block;
}

.mcNav .links .menu:hover {
    background-image: url(ui/nav/menu.gif);
}

@media only screen and (max-width: 600px) {
    .mcNav .logo {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        height: 100px;
        max-width: 60%;
        bottom: 30px;
        width: 100%;
        background-image: url(https://www.purevanilla.es/src/logo.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        display: inline-block;
        transition: 100ms;
    }
}

@media only screen and (min-width: 601px) {
    .mcNav .logo {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: -30px;
        height: 100px;
        max-width: 600px;
        width: 50%;
        background-image: url(https://www.purevanilla.es/src/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: inline-block;
        transition: 100ms;
    }
}

.mcNav .logo:active {
    transform: translateY(3px)
}

/* ----------- */

.newsCard {
    color: white;
    position: relative;
    z-index: 2;
}

.newsCard:hover {
    z-index: 99;
}

.newsCard:after {
    content: "";
    top: 0px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.newsCard:before {
    content: "";
    background-color: #000;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    transition: 200ms;
    z-index: 1;
    transform: scale(1)
}

@media screen and (max-width:640px) {
    .newsCard:hover:before {
        background-color: #000;
        opacity: 1;
        transform: scale(1)
    }
}

@media screen and (min-width:641px) {
    .newsCard:hover:before {
        background-color: #000;
        opacity: 1;
        transform: scale(1.1)
    }
}

.newsCard .red {
    background: #d4441a;
}

.newsCard .brown {
    background: #866136;
}

.newsCard .blue {
    background: #1546c2;
}

.newsCard .content {
    margin: 0px;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 2;
}

.newsCard .content .title {
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 150%;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0px;
    z-index: 3;
}

.newsCard .content .description {
    margin-top: 0px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .15);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 110%;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 3;
}

/* ----------- */

.mcButtonSt {
    transition: .7s cubic-bezier(0, .8, .26, .99);
    display: inline-block;
    font-weight: 700;
    color: white;
    align-items: center;
    font-size: 170%;
    position: relative;
}

.mcButtonSt .content {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
    top: 0px;
    position: relative;
    z-index: 3;
    color: white;
    font-size: 100%;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    font-family: 'VT323', monospace;
}

.mcButtonSt:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: 50px;
    z-index: 1;
    background-image: url("ui/stone.png");
    box-shadow: 0 -4px rgba(0, 0, 0, .3) inset, 0 4px rgba(255, 255, 255, .5) inset, -4px 0 rgba(255, 255, 255, .5) inset, 4px 0 rgba(0, 0, 0, .3) inset;
}

.mcButtonSt:hover:before {
    background-image: url("ui/stoneClicked.png");
}

.mcButtonSt:active:before {
    background-image: url("ui/stoneClickedFinal.png");
}

/* ----------- */

.mcInput {
    padding: 3px;
    background-color: #000000;
    box-shadow: 0 -2px rgba(255, 255, 255, .5) inset, 0 2px rgba(255, 255, 255, .5) inset, -2px 0 rgba(255, 255, 255, .5) inset, 2px 0 rgba(255, 255, 255, .5) inset;
    overflow: hidden;
}

.mcInput input {
    border-bottom: none!important;
    padding-bottom: 0px!important;
    margin-bottom: 0px!important;
    font-size: 20px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    color: white!important;
    font-family: 'VT323', monospace;
}

.greenList {
    color: #64FC20;
}

/* ----------- */

.mcButton {
    background-color: #36B030;
    transition: .7s cubic-bezier(0, .8, .26, .99);
    display: inline-block;
    font-weight: 700;
    color: white;
    align-items: center;
    font-size: 170%;
    position: relative;
}

.mcButton .content {
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    top: 0px;
    position: relative;
    z-index: 3;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 75%;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.mcButton .content .title {
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0px;
    z-index: 3;
}

.mcButton .content .description {
    margin-top: 0px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .15);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 75%;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 3;
}

.mcButton:hover {
    background-color: #313131;
}

.mcButton:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: 200ms;
    z-index: 1;
    transform: scale(1);
    background-color: rgba(49, 49, 49, 0);
    box-shadow: 0 -4px #268E18 inset, 0 4px #64FC20 inset, -4px 0 #4DD728 inset, 4px 0 #268E18 inset;
}

@media screen and (max-width:640px) {
    .mcButton:hover:before {
        transform: scale(1);
        background-color: rgba(49, 49, 49, 1);
        box-shadow: 0 -4px rgba(0, 0, 0, .3) inset, 0 4px rgba(255, 255, 255, .5) inset, -4px 0 rgba(255, 255, 255, .5) inset, 4px 0 rgba(0, 0, 0, .3) inset;
    }
}

@media screen and (min-width:641px) {
    .mcButton:hover:before {
        background-color: rgba(49, 49, 49, 1);
        transform: scale(1.1);
        box-shadow: 0 -4px rgba(0, 0, 0, .3) inset, 0 4px rgba(255, 255, 255, .5) inset, -4px 0 rgba(255, 255, 255, .5) inset, 4px 0 rgba(0, 0, 0, .3) inset;
    }
}

.mcButton:active:before {
    background-color: rgba(17, 17, 17, 1);
}

/* ----------- */

.flex {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:640px) {
    .centerLitle {
        text-align: center;
    }
}

@media screen and (min-width:641px) {
    .centerLitle {
        text-align: inherit;
    }
}

/* ----------- */

@media screen and (max-width:640px) {
    .counter {
        fill: #fff;
        text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
        color: #fff;
        font-family: 'Noto Sans', sans-serif;
        font-size: 200%;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0px;
    }
}

@media screen and (min-width:641px) {
    .counter {
        fill: #fff;
        text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
        color: #fff;
        font-family: 'Noto Sans', sans-serif;
        font-size: 300%;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0px;
    }
}

/* ----------- */

.dark {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(ui/background.png);
}

.light {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(ui/navbar.png);
}

.bright {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(ui/light.png);
}

/* ----------- */

.sessionCard {
    width: 100%;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 300px;
    margin-bottom: 3px;
    position: relative;
    transition: 100ms;
}

.sessionCard:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.sessionCard:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.sessionCard[loading]::after {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('ui/circle.gif');
}

.sessionCard[locked]::after {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('ui/locked.png');
}

.sessionCard[unlocked]::after {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('ui/unlocked.png');
}

.sessionCard[key]::after {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('ui/key.png');
}

.sessionCard[gettingKey]::after {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('ui/keyUnknown.png');
}

.sessionCard::after {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 25px;
    content: "";
    width: 30px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('ui/arrow.png');
}

.sessionCard .avatar {
    width: 50px;
    height: 50px;
    border-radius: 300px;
    background-size: cover;
    display: inline-block;
}

.sessionCard .avatar::after {
    content: ".";
    opacity: 0;
}

.sessionCard .name {
    display: inline-block;
    margin: 0px!important;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .25);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 110%;
    font-weight: 700;
    position: absolute;
    top: 17px;
    left: 70px;
}

/* ----------- */

.embed-container {
    position: relative;
    padding-bottom: 42.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ----------- */

video {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* ----------- */

.advancement {
    padding: 4px;
    display: inline-block;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    width: 70px;
    height: 70px;
}

.advancement .normal {
    background-color: #AA7E0F;
    min-width: 100%;
    min-height: 100%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    clip-path: polygon(15.6863% 92.1569%, 84.3137% 92.1569%, 84.3137% 88.2353%, 88.2353% 88.2353%, 88.2353% 84.3137%, 92.1569% 84.3137%, 92.1569% 15.6863%, 88.2353% 15.6863%, 88.2353% 11.7647%, 84.3137% 11.7647%, 84.3137% 7.8431%, 15.6863% 7.8431%, 15.6863% 11.7647%, 11.7647% 11.7647%, 11.7647% 15.6863%, 7.8431% 15.6863%, 7.8431% 84.3137%, 11.7647% 84.3137%, 11.7647% 88.2353%, 15.6863% 88.2353%);
}

.advancement .goal {
    background-color: #AA7E0F;
    min-width: 100%;
    min-height: 100%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    clip-path: polygon(35.2941% 100%, 64.7059% 100%, 64.7059% 96.0784%, 76.4706% 96.0784%, 76.4706% 92.1569%, 84.3137% 92.1569%, 84.3137% 88.2353%, 88.2353% 88.2353%, 88.2353% 84.3137%, 92.1569% 84.3137%, 92.1569% 15.6863%, 88.2353% 15.6863%, 88.2353% 11.7647%, 84.3137% 11.7647%, 84.3137% 7.8431%, 76.4706% 7.8431%, 76.4706% 3.9216%, 64.7059% 3.9216%, 64.7059% 0, 35.2941% 0, 35.2941% 3.9216%, 23.5294% 3.9216%, 23.5294% 7.8431%, 15.6863% 7.8431%, 15.6863% 11.7647%, 11.7647% 11.7647%, 11.7647% 15.6863%, 7.8431% 15.6863%, 7.8431% 84.3137%, 11.7647% 84.3137%, 11.7647% 88.2353%, 15.6863% 88.2353%, 15.6863% 92.1569%, 23.5294% 92.1569%, 23.5294% 96.0784%, 35.2941% 96.0784%);
}

.advancement .challenge {
    background-color: #AA7E0F;
    min-width: 100%;
    min-height: 100%;
    transform-style: preserve-3d;
    position: relative;
    transform: perspective(5000px);
    clip-path: polygon(3.9216% 100%, 13.7255% 100%, 13.7255% 96.0784%, 21.5686% 96.0784%, 21.5686% 92.1569%, 39.2157% 92.1569%, 39.2157% 96.0784%, 60.7843% 96.0784%, 60.7843% 92.1569%, 78.4314% 92.1569%, 78.4314% 96.0784%, 86.2745% 96.0784%, 86.2745% 100%, 96.0784% 100%, 96.0784% 96.0784%, 100% 96.0784%, 100% 86.2745%, 96.0784% 86.2745%, 96.0784% 78.4314%, 92.1569% 78.4314%, 92.1569% 60.7843%, 96.0784% 60.7843%, 96.0784% 39.2157%, 92.1569% 39.2157%, 92.1569% 21.5686%, 96.0784% 21.5686%, 96.0784% 13.7255%, 100% 13.7255%, 100% 3.9216%, 96.0784% 3.9216%, 96.0784% 0, 86.2745% 0, 86.2745% 3.9216%, 78.4314% 3.9216%, 78.4314% 7.8431%, 60.7843% 7.8431%, 60.7843% 3.9216%, 39.2157% 3.9216%, 39.2157% 7.8431%, 21.5686% 7.8431%, 21.5686% 3.9216%, 13.7255% 3.9216%, 13.7255% 0, 3.9216% 0, 3.9216% 3.9216%, 0 3.9216%, 0 13.7255%, 3.9216% 13.7255%, 3.9216% 21.5686%, 7.8431% 21.5686%, 7.8431% 39.2157%, 3.9216% 39.2157%, 3.9216% 60.7843%, 7.8431% 60.7843%, 7.8431% 78.4314%, 3.9216% 78.4314%, 3.9216% 86.2745%, 0 86.2745%, 0 96.0784%, 3.9216% 96.0784%);
}

.advancement .inner {
    height: 60%;
    width: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translateZ(40px);
    background-image: url(../misc/sign.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}